.aegov-btn {
  /* Basic style properties of a button */
  @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center text-center no-underline transition duration-200 ease-in-out;
  /* Specefic to the use of style */
  @apply h-12 gap-2 rounded-lg border-2 border-transparent px-6 text-base font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  /* all aspects of colour */
  @apply bg-primary-600 text-whitely-50 hover:bg-primary-500 hover:text-primary-50 hover:shadow-button hover:shadow-primary-100 focus-visible:ring-primary-support-300;
  @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-30 disabled:!shadow-none;

  /* Style */
  &.btn-soft {
    @apply bg-primary-50 hover:bg-primary-100 text-primary-700 hover:text-primary-600 focus-visible:ring-primary-support-400 hover:shadow-none focus-visible:ring-offset-0;
    @apply disabled:opacity-50;
  }
  &.btn-link {
    @apply text-primary-600 hover:bg-primary-50 focus-visible:ring-primary-500 focus-visible:border-primary-support-300 bg-transparent hover:shadow-none focus-visible:ring-1 focus-visible:ring-offset-0;
  }
  &.btn-outline {
    @apply text-primary-600 hover:bg-primary-50 border-primary-600 focus-visible:border-primary-support-400 focus-visible:ring-primary-support-400 bg-transparent hover:shadow-none focus-visible:ring-1 focus-visible:ring-offset-0;
  }

  /* Sizing */
  &.btn-lg {
    @apply h-13 gap-3 px-7 text-lg;
    & > svg {
      @apply h-7 w-7;
    }

    &:has(svg) {
      @apply px-6;
    }

    &:has(svg + svg) {
      @apply px-5;
    }

    & > img {
      @apply h-7 w-7;
    }

    &:has(img) {
      @apply px-6;
    }

    &:has(img + img) {
      @apply px-5;
    }

    .btn-icon {
      @apply w-13 gap-0 px-0;
    }
  }

  &.btn-base {
    @apply h-12 gap-2 px-6;
  }

  &.btn-sm {
    @apply h-10 px-5 text-base;

    & > svg {
      @apply h-5 w-5;
    }

    &:has(svg) {
      @apply px-4;
    }

    &:has(svg + svg) {
      @apply px-3;
    }

    & > img {
      @apply h-5 w-5;
    }

    &:has(img) {
      @apply px-4;
    }

    &:has(img + img) {
      @apply px-3;
    }

    &.btn-icon {
      @apply w-10 gap-0 px-0;
    }
  }

  &.btn-xs {
    @apply h-8 rounded px-4 text-sm;

    & > svg {
      @apply w-4.5 h-4.5;
    }

    &:has(svg) {
      @apply px-3;
    }

    &:has(svg + svg) {
      @apply px-2;
    }

    & > img {
      @apply w-4.5 h-4.5;
    }

    &:has(img) {
      @apply px-3;
    }

    &:has(img + img) {
      @apply px-2;
    }

    &.btn-icon {
      @apply w-8 gap-0 px-0;
    }
  }

  /* Variation */
  &.btn-block {
    @apply w-full;
  }

  /* Icons */
  & > svg {
    @apply h-6 w-6 fill-current flex-shrink-0;
  }

  &:has(svg) {
    @apply px-5;
  }

  &:has(svg + svg) {
    @apply px-4;
  }

  & > img {
    @apply h-6 w-6 fill-current flex-shrink-0;
  }

  &:has(img) {
    @apply px-5;
  }

  &:has(img + img) {
    @apply px-4;
  }

  /* Only icon */
  &.btn-icon {
    @apply w-12 gap-0 px-0;
  }

  /* Secondary */
  &.btn-secondary {
    @apply bg-secondary-800 text-secondary-50 hover:bg-secondary-950 hover:text-secondary-100 hover:shadow-secondary-100 focus-visible:ring-secondary-support-300;

    &.btn-soft {
      @apply bg-secondary-50 hover:bg-secondary-100 text-secondary-800 hover:text-secondary-800 hover:shadow-none focus-visible:ring-offset-0;
      @apply disabled:opacity-50;
    }

    &.btn-link {
      @apply text-secondary-800 hover:bg-secondary-50 focus-visible:border-secondary-support-300 bg-transparent hover:shadow-none focus-visible:ring-1 focus-visible:ring-offset-0;
    }

    &.btn-outline {
      @apply text-secondary-800 hover:bg-secondary-100 border-secondary-800 focus-visible:border-secondary-support-300 bg-transparent hover:shadow-none focus-visible:ring-1 focus-visible:ring-offset-0;
    }
  }
}

/* auto respond button size */
[data-responsive="auto"] .aegov-btn {
  @apply h-8 rounded px-4 text-sm;
  @apply sm:h-10 sm:rounded-lg sm:px-5 sm:text-base;
  @apply lg:h-12 lg:rounded-lg lg:px-6 lg:text-base;
  @apply 2xl:h-13 lg:rounded-lg 2xl:gap-3 2xl:px-7 2xl:text-lg;
}
