@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;600;700;800&family=Inter:wght@200;600;700;800&family=Noto+Kufi+Arabic:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;600;700;900&display=swap');

html {
  -webkit-tap-highlight-color: transparent;
  @apply scroll-smooth md:scroll-auto;
}

body {
  @apply m-0 p-0 text-base antialiased text-aeblack-800;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}
body {
  @apply font-roboto;
}
body[dir="rtl"] {
  @apply font-notokufi;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-inter;
}
[dir="rtl"] h1,
[dir="rtl"] h2,
[dir="rtl"] h3,
[dir="rtl"] h4,
[dir="rtl"] h5,
[dir="rtl"] h6 {
  @apply font-alexandria;
}

h1 {
  @apply text-h1 font-extrabold;
}
h2 {
  @apply text-h2 font-extrabold;
}
h3 {
  @apply text-h3 font-extrabold;
}
h4 {
  @apply text-h4 font-bold;
}
h5 {
  @apply text-h5 font-bold;
}
h6 {
  @apply text-base font-semibold;
}

button {
  @apply cursor-pointer no-underline inline-flex flex-shrink-0 select-none flex-wrap items-center justify-center text-center;
}

/* typography */
p {
  @apply text-base mb-8;
  &.text-sm {
    @apply mb-7
  }
  &.text-xs {
    @apply mb-6
  }
}

a {
  @apply rounded text-primary-600 hover:text-primary-500 relative inline-block underline underline-offset-1 transition-all duration-200 ease-in-out hover:decoration-2;
  @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary-300;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
select, textarea {
  @apply appearance-none bg-whitely-50;
}