@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  -webkit-tap-highlight-color: transparent;
  @apply scroll-smooth md:scroll-auto;
}

body {
  @apply m-0 p-0 font-roboto text-base antialiased text-aeblack-800;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

h1 {
  @apply text-h1 font-inter font-extrabold;
}
h2 {
  @apply text-h2 font-inter font-extrabold;
}
h3 {
  @apply text-h3 font-inter font-extrabold;
}
h4 {
  @apply text-h4 font-inter font-bold;
}
h5 {
  @apply text-h5 font-inter font-bold;
}
h6 {
  @apply text-base font-inter font-semibold;
}

button {
  @apply cursor-pointer font-roboto no-underline inline-flex flex-shrink-0 select-none flex-wrap items-center justify-center text-center transition duration-200 ease-in-out;
}

/* typography */
p {
  @apply text-base mb-8;
  &.text-sm {
    @apply mb-7
  }
  &.text-xs {
    @apply mb-6
  }
}

a {
  @apply text-primary-600 hover:text-primary-500 relative inline-block underline underline-offset-1 transition-all duration-200 ease-in-out hover:underline-offset-2;
}


[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,select {
  @apply appearance-none bg-whitely-50;
}